/* Estilo do corpo da página */
body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  background-image: url(img/imagem-fundo.jpg); 
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Container da barra de navegação */
.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #60977b; /* Fundo */
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 30px;
  border-radius: 50px;
  box-shadow: 0px 4px 8px #0000004d; /* Sombra para destaque */
  overflow: hidden;
  width: calc(100% - 40px); /* Ajuste de largura responsiva */
  max-width: 1200px; /* Define o máximo de largura */
  height: 60px; /* Ajuste a altura conforme necessário */
  box-sizing: border-box; /* Inclui padding e borda na largura total */
  gap: 20px; /* Espaçamento entre os itens */
  flex-wrap: wrap; /* Permite que os itens se ajustem responsivamente */
  justify-content: space-evenly; /* Alinha os links de forma espaçada */
}

@media (max-width: 768px) {
  .nav-container {
    padding: 10px; /* Menos padding em telas menores */
    width: calc(100% - 40px);
    height: 50px; /* Altura reduzida para telas menores */
  }
  
  /* Ajusta o tamanho do texto e o espaçamento dos links em telas menores */
  .nav-container a {
    font-size: 1em;
    margin: 0 10px;
  }
}

@media (max-width: 480px) {
  /* Para dispositivos móveis (menor que 480px de largura) */
  .nav-container {
    flex-direction: column; /* Alinha os links verticalmente */
    gap: 15px; /* Reduz o espaço entre os links */
    width: calc(100% - 20px);
    height: auto; /* Ajusta a altura conforme necessário */
  }
  
  /* Ajusta o tamanho do texto em dispositivos móveis */
  .nav-container a {
    font-size: 1.2em;
    margin: 0;
  }
}

.nav-container a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
  transition: color 0.3s;
}

.nav-container a:hover {
  color: #204735; /* Cor ao passar o mouse */
}
